body {
    background-color: lightgray;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
  }
  
  header {
    background-image: url(images/1464277997536Screen_Shot_2016-05-26_at_11.52.39_AM.avif);
    background-size: 100%;
    background-position: center;
    color: rgb(0, 0, 0);
    height: 400px;
    padding: 20px;
    text-align: center;
  }
  
  header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
  }
  
  header .Logo a {
    background-image: url(images/FOTO_SATELIT_KACA_2-removebg-preview.png);
    background-size:300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    position: relative;
    text-indent: -9999999999999px;
    top: -30px;
    width: 300px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none
  }

  li {
    display: inline-block;
    margin-right: 0px;
  }
  
  footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
  }
  