
body {
  background-color: lightgray;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}

header {
  background-image: url(images/HEADER.png);
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: -210px;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20px; 
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}




header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 20px;
}

header .mobile {
  display: none;
}

header .Logo a {
  background-image: url(images/FOTO_SATELIT_KACA_2-removebg-preview.png);
  background-size:300px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  position: relative;
  text-indent: -9999999999999px;
  top: -30px;
  width: 300px;
}

@media screen and (max-width: 800px) {
  header {
    height: 250px;
    background-size: 100%;
    padding: 15px; 
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
  .brochure-photo {
    width: 90%; 
  }
  .location-icon img {
    width: 170px;  
    height: 70px;  
  }

  .location-icon {
    top: 15px;  
    right: 15px;  
  }
}



@media screen and (max-width: 600px) {
  header {
    background-position-x: -150px;
    background-position-y: -20px;
    background-size: 700px;
    height: 200px; 
  }
  header a {
    margin-right: 7px;
  }
  header .Logo a {
    height: 100px; 
  }
  .brochure-photo {
    width: 95%;
  }
  section .location-icon img {
    width: 110px;  
    height: 60px;  
  }

  section .location-icon {
    top: 52%;  
    right: 22%;  
  }
}
  



.features {
  background: white;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features figure {
  margin: 10px; 
  text-align: center;
  width: calc(50% - 20px); 
}

.features figure img {
  width: 50%; 
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: rgb(84, 83, 83) 0 0 15px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: white; 
}

section {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle-section {
  width: 100%; 
  display: flex;
  justify-content: center; 
}

.brochure-photo {
  width: 80%; 
  max-width: 100%;
}


.house-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%; 
  margin: 0 auto; 
}


.house-photo {
  width: 100%;
  height: auto;
  border-radius: 8px; 
}


.location-icon {
  position: absolute;
  right: 27%;
  bottom: 40%;
  cursor: pointer;
  z-index: 10;
}


.location-icon img {
  width: 200px;
  height: 120px;
}


.location-icon:hover img {
  opacity: 0.8;
}



ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 10px; 
}

.content {
  flex: 1;
}

.footer-container {
  height: 40px; 
  padding: 5px 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray; 

.instagram-logo {
  background-image: url(images/satelitkaca\(1\).png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px; 
  height: 150px; 
}

}
